body {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: sans-serif;*/
}
.home-container {
    /*background-image: url('src/assets/images/YellowandWhite.jpg');*/
    background-image: url('public/images/YellowandWhite.jpg');
    font-weight: 700;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 100vh;
     padding-top: 10px;
     text-align: center;
     color: white;
}

h1 {
    color: black;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 4px;
}
.card-container {
    margin: 30px auto; /* Center horizontally */
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 70vh; /* Ensure the parent container has full height */
}